<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Toy Marketplace | List of Toys</title>
</head>
<body>
  <h1>
    Toy List
  </h1>
  <a th:href="@{/toy/add}">Create New Toy</a>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>Description</th>
        <th>Admin Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="toy: ${toys}">
        <td th:text="${toy.name}"></td>
        <td th:text="${toy.color}"></td>
        <td th:text="${toy.size}"></td>
        <td th:text="${toy.description}"></td>\
        <td>
          <a th:href="@{'/toy/edit/' + ${toy.id}}">Edit this toy</a>
          <a th:href="@{'/toy/delete/' + ${toy.id}}">Delete Toy</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>